// Fonts
@font-face {
    font-family: "helvetica";
    src: url("../Font/HelveticaNeueLTPro-Bd.otf");
    src: url("../Font/HelveticaNeueLTPro-Lt.otf");
    src: url("../Font/HelveticaNeueLTPro-Md.otf");
    src: url("../Font/HelveticaNeueLTPro-Roman.otf");
    src: url("../Font/HelveticaNeueLTPro-Th.otf");
    src: url("../Font/NeueBold.otf"); 
}
//Classes
$font:"helvetica";
$link: #E81C; // #E81C4F
$p-mesafe: 20px;

body {
    font-family:$font;
    margin: 0;
    background-color:#D8D8D8;
}
//Navbar
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #151515;
  } 
li {
    float:left;

    &.title {
        display: block;
        color: white;
        text-align: center;
        padding: 20px 20px;
        padding-left:0px;
        text-decoration: none;
        font-size:30px;
        font-weight: bolder;
        font-family:sans-serif;
    }

&.right {
    float:right;
    }

a {
    display: block;
    color: #A1A1A1;
    text-align: center;
    padding: 26px 10px;
    text-decoration: none;
    font-size:20px;
  }
}
//Notification-Badge
.notification {
    position: relative;
    display: inline-block;
    border-radius: 2px;

    .badge {
        position: absolute;
        top: 25px;
        right: 3px;
        padding: 5px 5px;
        border-radius: 50%;
        background-color: red;
    }
  }

.about {
    background-color:#232323;
    .about-title {
        font-size:40px;
        color:white;
        font-weight:bolder;
        font-family:$font;
        padding-top:$p-mesafe;
    }
    .about-content {
        font-size:19px;
        padding-bottom:$p-mesafe;
        color:#A1A1A1;
        line-height:25px;

         a {
             text-decoration:none;
             color:$link;
             font-size:17px;

             &:hover {
                 text-decoration:underline;
             }
         }
    }
}

// Youtube
.youtube {
    background-color:#151515;
}

//Twitter
.twitter {
      background-color:#232323;
}
.twitter-icon {
      padding-top:$p-mesafe;
      padding-bottom:$p-mesafe;
      text-decoration:underline;
}
.twitter-link {
    color:$link;
    font-size:17px;
    text-decoration:underline;
}
.footer {
    color:#A1A1A1;
    background-color:#151515;
    line-height: 60px;
    font-family:sans-serif;
}